@import "tailwindcss";

@theme {
  --color-negro-comando: #060A12; /* El fondo profundo */
  --color-azul-profundo: #0A1628; /* Para secciones secundarias */
  --color-azul-fab: #003087;
  --color-amarillo-fab: #FFD100;
  --color-borde-tactico: #1E3050;
  --color-texto-vibrante: #F8FAFC;
  --color-texto-apagado: #64748B;

  --font-display: "Barlow Condensed", sans-serif;
  --font-mono: "Share Tech Mono", monospace;
}

@layer base {
  body { @apply bg-negro-comando text-texto-vibrante font-sans; }
}